
<div id="column-wide">
  <!--Begin Content List-->
  <div id="content-list">
    <!--CUSTOM CODE STARTS HERE -->  
    <h1 style="padding-left:15px; padding-top:15px;">[var.channel_name]</h1>
    <div style="height:auto; overflow:hidden; padding-bottom:20px;">        
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">New Added</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos/[videos_new.indexer;block=div]/[videos_new.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_new.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div>        
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">Month</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos/[videos_month.indexer;block=div]/[videos_month.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_month.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div> 
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">Top 24 hr</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos/[videos_day.indexer;block=div]/[videos_day.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_day.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div> 
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">All Time</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos/[videos_all.indexer;block=div]/[videos_all.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_all.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div>   
    </div>      
    <!-- CUSTOM CODE ENDS HERE -->
  </div>
</div>
<!--End Right Column-->

<!-- nothing found start -->
<div>
  <span class="font4_14">[var.lang_no_videos_added]</span><!--[onload_309;block=div;when [var.show_v]=1;comm]-->
</div>
<!-- nothing found end -->