<!--Begin Left Column-->
<div id="column-left-2">
  <!--Begin Whats Showing Menu-->
  <div class="header-narrow"><h3><!--[var.see_more_title;comm]-->&nbsp;[var.lang_word_videos]</h3></div>
  <div class="whats-showing">
    <ul>
      <li><a href="videos/load/featured">[var.lang_featured]</a></li>
      <li><a href="videos/load/viewed">[var.lang_most_viewed]</a></li>
      <li><a href="videos/load/recent">[var.lang_most_recent]</a></li>
      <li><a href="videos/load/comments">[var.lang_most_comments]</a></li>
    </ul>
  </div>
  <div class="container-narrow-bottom"></div>
  <!--End Whats Showing Menu-->

  <!--Begin Categories Menu-->
  <div class="header-narrow"><h3>[var.lang_video_categories]</h3></div>
  <div class="whats-showing">
    <ul>
      <li><a href="category/[blk1.channel_name_seo;block=li]"><!--[blk1.channel_name;block=li;ope=max:25;comm]--></a>&nbsp;-&nbsp;(<!--[blk1.vid_count;comm]-->)</li>
    </ul>
  </div>
  <div class="container-narrow-bottom"></div>
  <!--End Categories Menu-->

  <!--Begin Sub-Categories Menu-->
  <div class="header-narrow"><h3>[var.lang_sub_categories]</h3></div>
  <div class="whats-showing">
    <ul>
      <li><a href="subcategory/[blk2.sub_channel_id;block=li]/[blk2.sub_channel_name_seo;block=li]"><!--[blk2.sub_channel_name;block=li;ope=max:25;comm]--></a>&nbsp;</li>
    </ul>
  </div>
  <div class="container-narrow-bottom"></div>
  <!--End Sub-Categories Menu-->

  <!--Begin Popular Videos Tag Cloud-->
  <div class="header-narrow"><h3>[var.lang_Tags_most_popular]</h3></div>
  <div class="whats-showing"><!--[var.tag_cloud_block;htmlconv=no;comm]--></div>
  <div class="container-narrow-bottom"></div>
  <!--End Popular Videos Tag Cloud-->

  <!--Begin Left Advert-->
  <div class="container-narrow-top"></div>
  <div id="advert-left"><!--[var.ads_left;htmlconv=no;comm]--></div>
  <div class="container-narrow-bottom"></div>
  <!--End Left Advert-->

</div>
<!--End Left Column-->

<!--Begin Right Column-->
<div id="column-right-2">
  <!--Begin Content List-->
  <div id="content-list">
    <!--CUSTOM CODE STARTS HERE -->  
    <h1 style="padding-left:15px; padding-top:15px;">[var.channel_name]</h1>
    <div style="height:auto; overflow:hidden; padding-bottom:20px;">        
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">New Added</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos_new/[videos_new.indexer;block=div]/[videos_new.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_new.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div>        
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">Month</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos_month/[videos_month.indexer;block=div]/[videos_month.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_month.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div> 
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">Top 24 hr</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos_day/[videos_day.indexer;block=div]/[videos_day.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_day.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div> 
        <div style="text-align:center;width:25%;float:left;">
            <h3 style="color:#000;padding:20px;text-align:center;">All Time</h3>
            <div style="overflow-y:auto;height: 400px;">
                <div style="padding-bottom:20px;">
                    <a href="videos_all/[videos_all.indexer;block=div]/[videos_all.title_seo;htmlconv=no;block=div]" target="_blank"><img src="uploads/thumbs/[videos_all.video_id;block=div].jpg" alt="video pic" width="120" height="90" border="0" /></a>
                </div>
            </div>
        </div>   
    </div>      
    <!-- CUSTOM CODE ENDS HERE -->
  </div>
</div>
<!--End Right Column-->

<!-- nothing found start -->
<div>
  <span class="font4_14">[var.lang_no_videos_added]</span><!--[onload_309;block=div;when [var.show_v]=1;comm]-->
</div>
<!-- nothing found end -->