<!--Begin Left Column-->
<div id="column-left-2">
  <!--Begin Whats Showing Menu-->
  <div class="header-narrow"><h3><!--[var.see_more_title;comm]-->&nbsp;[var.lang_word_videos]</h3></div>
  <div class="whats-showing">
    <ul>
      <li><a href="videos/load/featured">[var.lang_featured]</a></li>
      <li><a href="videos/load/viewed">[var.lang_most_viewed]</a></li>
      <li><a href="videos/load/recent">[var.lang_most_recent]</a></li>
      <li><a href="videos/load/comments">[var.lang_most_comments]</a></li>
    </ul>
  </div>
  <div class="container-narrow-bottom"></div>
  <!--End Whats Showing Menu-->
  <!--Begin Categories Menu-->
  <div class="header-narrow"><h3>[var.lang_video_categories]</h3></div>
  <div class="whats-showing">
    <ul>
      <li><a href="category/[blk1.channel_name_seo;block=li]"><!--[blk1.channel_name;block=li;ope=max:25;maxhtml;comm]--></a>&nbsp;-&nbsp;(<!--[blk1.vid_count;comm]-->)</li>
    </ul>
  </div>
  <div class="container-narrow-bottom"></div>
  <!--End Categories Menu-->
  <!--Begin Popular Videos Tag Cloud-->
  <div class="header-narrow"><h3>[var.lang_tags_popular_videos]</h3></div>
  <div class="whats-showing"><!--[var.tag_cloud_block;htmlconv=no;comm]--></div>
  <div class="container-narrow-bottom"></div>
  <!--End Popular Videos Tag Cloud-->
  <!--Begin Left Advert-->
  <div class="container-narrow-top"></div>
  <div id="advert-left"><!--[var.ads_left;htmlconv=no;comm]--></div>
  <div class="container-narrow-bottom"></div>
  <!--End Left Advert-->
</div>
<!--End Left Column-->

<!--Begin Right Column-->
  <div id="column-right-2">
 <!--Begin Video Browser. (Most Recent Videos)-->
  <div class="header-wide">Hot</div>
 <!--Begin Video Browser Container-->
  <div class="container-wide">
    <div class="browse-videos" style="height: [var.ajax_height]px;">
      <div id="videos-ajax">
        <div id="videoajax">
          <ul>
	      <li>
	        <a href="videos/[hot_videos.indexer;block=div]/[hot_videos.title_seo;htmlconv=no;block=div]"><div class="browse-videos-title"><!--[hot_videos.title;htmlconv=no;ope=max:14;maxhtml;block=div;comm]--></div></a>
	        <div class="browse-videos-member">By:&nbsp;&nbsp;<a href="members/[hot_videos.uploaded_by]"><b><!--[hot_videos.uploaded_by;block=div;ope=max:14;maxhtml;comm]--></b></a></div>
	        <a href="videos/[hot_videos.indexer;block=div]/[hot_videos.indexer;htmlconv=no;block=div]"><img src="uploads/thumbs/[hot_videos.video_id;block=div].jpg" title="<!--[hot_videos.title;htmlconv=no;block=div;comm]-->" width="[var.theme_thumbnail_width]" height="[var.theme_thumbnail_height]" alt="[hot_videos.title]" /></a>
	     	<div class="browse-videos-duration"><b><!--[hot_videos.video_length;block=div;ope=max:45;comm]--></b></div>
	        <div class="browse-videos-rating">
	          <img border="0" src="themes/[var.user_theme]/images/[hot_videos.star1;block=div]" width="11" height="11" alt="1 Star" />
	          <img border="0" src="themes/[var.user_theme]/images/[hot_videos.star2;block=div]" width="11" height="11" alt="1 Star" />
	          <img border="0" src="themes/[var.user_theme]/images/[hot_videos.star3;block=div]" width="11" height="11" alt="1 Star" />
	          <img border="0" src="themes/[var.user_theme]/images/[hot_videos.star4;block=div]" width="11" height="11" alt="1 Star" />
	          <img border="0" src="themes/[var.user_theme]/images/[hot_videos.star5;block=div]" width="11" height="11" alt="1 Star" />
	        </div>
	        <div class="browse-videos-date">[var.lang_added]:&nbsp;<!--[hot_videos.date_uploaded;block=div;comm]--></div>
	      </li>	      
          </ul>
        </div>
      </div>
      <div class="clear-fix"></div>
    </div>
  </div>
  <!--End Video Browser Container-->
  <div class="container-wide-footer"></div>
    <!-- Pagination start -->
<br />
<br />
<div align="center">
  <div id="pagination">
    <ul>[var.show_pages;htmlconv=no]</ul>
  </div>
</div>
<br />
<!-- Pagination end -->

  </div>
  <!--End Right Column-->
    <div class="clear-fix"></div>
</div>
<div class="clear-fix"></div>