<div id="column-wide">
 <!--Begin Video Browser. (Most Recent Videos)-->
  <!-- <div class="header-wide">Genres</div> -->
 <!--Begin Video Browser Container-->
  <div class="container-wide">
    <div class="browse-videos" style="height: [var.ajax_height]px;">
      <div id="videos-ajax">
        <div id="videoajax">
          <ul>
	      <li><!-- 
	        <a href="category/[all_categories.channel_name_seo;block=li]">
            <div class="browse-videos-title">--><!--<!--[all_categories.channel_name;htmlconv=no;ope=max:14;maxhtml;block=div;comm]-->--><!--</div>
          </a> -->
	        <a href="category/[all_categories.channel_name_seo;block=li]">
            <img src="uploads/thumbs/[all_categories.channel_name_seo;block=li].jpg" title="<!--[all_categories.channel_name;htmlconv=no;block=div;comm]-->" width="[var.theme_thumbnail_width]" height="[var.theme_thumbnail_height]" alt="[all_categories.channel_name]" />
          </a>
	      </li>
          </ul>
        </div>
      </div>
      <div class="clear-fix"></div>
    </div>
  </div>
  <!--End Video Browser Container-->
  <div class="container-wide-footer"></div>
  <!-- Pagination start -->
<br />
<br />
<!-- <div align="center">
  <div id="pagination">
    <ul>[var.show_pages;htmlconv=no]</ul>
  </div>
</div> -->
<br />
<!-- Pagination end -->


  </div>
  <!--End Right Column-->


    <div class="clear-fix"></div>
</div>
<div class="clear-fix"></div>